core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
client_secret_513367516190-6sijsho2lkf48vl9ecn2k5fckoeh2g5o.apps.googleusercontent.com.json