{% extends "base.html" %}
{% block content %}

<section id="products" class="py-5">
    <div class="container py-5">
        <div class="row">
            <!-- Filter Column on the Left -->
            <div class="col-md-4 order-md-1 mb-4">
                <h1>Filters</h1>
                <!-- Add filter options here -->
            </div>

            <!-- Product Cards Column on the Right -->
            <div class="col-md-8 order-md-2 product-card-container">
                {% for desktop in desktops %}
                <div class="card product-card mb-5">
                    <div class="row g-0">
                        <!-- Image Column on the Left -->
                        <div class="col-md-4 px-2 py-2">
                            <img src="{{ desktop.IMG_URL }}" class="img-fluid" alt="{{ desktop.name }}">
                        </div>
                        <!-- Product Name and Description in the Center -->
                        <div class="col-md-6 d-flex flex-column align-items-start pt-4 px-4">
                            <h5 class="card-text text-start">{{ desktop.name }}</h5>
                            <!-- Product Details (CPU, RAM, Display) -->
                            <ul class="font-weight-light">
                                <li class="text-start mt-2">{{ desktop.cpu }}</li>
                                <li class="text-start mt-2">{{ desktop.ram }}</li>
                                <li class="text-start mt-2">{{ desktop.display }}</li>
                            </ul>
                        </div>
                        <!-- Price and Add to Cart Button on the Right -->
                        <div class="col-md-2 d-flex flex-column align-items-center pt-3">
                            <h3 class="card-text product-price"><span>£</span>{{ desktop.price }}</h3>
                            <div class="flex-column product-btn-container">
                                <a href="#" class="view-product-btn product-btn">View Product</a>
                                <a href="#" class="add-to-cart-btn product-btn">Add to Cart</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}