{% extends "base.html" %}
{% block content %}
    
    <form class="reset-password-form">
        <h3>Reset your password</h3>
        <p>Type your email down below, and we will send you a password reset link, if the email is valid.</p>
        <div class="form-group ">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit " class="btn btn-primary sign-in-btn register-buttons reset-pass-btn ">Reset Password</button>
        <a href = "{{ url_for('sign_in')}}" class="return-to-sign-in">Return to Sign In</a>
    </form>

{% endblock %}