{% extends "base.html" %}
{% block content %}
    

    <!-- Reset Password Form -->
    <form class="reset-password-form reset-password" method="POST" action="{{ url_for('reset_password', token=token) }}">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-danger alert-{{ category }} mt-3">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <h3>Reset your password</h3>
        <div class="form-group">
            <p class="form-paragraph">Please choose a password</p>
            <input type="password" name="password" id="password" class="form-control" id="" 
                   aria-describedby="emailHelp" placeholder="Enter your password">
        </div>
        <div class="form-group">
            <p class="form-paragraph">Please confirm your password</p>
            <input type="password" name="password" id="repeat-password" class="form-control" id="" 
            aria-describedby="emailHelp" placeholder="Enter your password">
        </div>
        <div class="validation-message" id="password_error">Please enter a password</div>
        <div class="password-validator">
            <ul class="password-rules-list">
                <li id="uppercase">❌ Needs an uppercase letter</li>
                <li id="lowercase">❌ Needs a lowercase letter</li>
                <li id="number">❌ Needs a number</li>
                <li id="minLength">❌ Minimum 8 characters</li>
            </ul>
        </div>
        <div class="validation-message" id="passwordError" >Passwords do not match!</div>
        <button type="submit" class="btn btn-primary sign-in-btn register-buttons reset-pass-btn">
            Reset Password
        </button>
        <a href="{{ url_for('sign_in') }}" class="return-to-sign-in">Return to Sign In</a>
    </form>
{% endblock %}
